<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AxCodeCompare.Properties.Settings.AX_2012_modelConnectionString"
            connectionString="Data Source=sds-sql2012;Initial Catalog=TFS_TEST1_2012_R2_GSE_DEP_model;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>